img {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    border: 2px solid black;
}

.first {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.second {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: right;
}

.one {
    text-decoration-line: underline;
}

.two {
    text-decoration-line: underline;
    text-decoration-color: red;
    text-decoration-style: wavy;
}

