body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

.header {
    background-color: #aaa;
    color: #fff;
    text-align: center;
    padding: 20px;
}

#processingCanvas {
    width: 200px; 
    height: 200px;
    background-color: #ff6600; 
    border-radius: 50%;
}

h1 {
    font-size: 2em;
}

.projects {
    margin: 20px;
    text-align: center;
}

h2 {
    font-size: 1.5em;
}


/* Nav Bar */
ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    text-align: right; /* Align items to the right */
}

ul.navbar li {
    display: inline;
    margin: 20px; /* Add padding to the left of each item */
}

ul.navbar li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px; /* Add padding to the top and bottom (10px) and left and right (20px) of each item */
}

ul.navbar li a:hover {
    text-decoration: underline;
}
