
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #F1EFEF; 
}

.navbar {
    background-color: #CCC8AA;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 1;
}

.navbar .logo img {
    width: 50px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 50px;

}

.nav-links a {
    text-decoration: none;
    color: #555843;
    font-weight: bold;
}

.header {
    margin-top: 100px;
    text-align: center;
    background-color: #D0D4CA; 
    padding: 20px; 
}

#sketch-holder {
    text-align: center;
}

.projects {
    text-align: center;
    margin-top: 20px;
}

.project-holder{
    display: flex;
    border: 1px solid black;
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center; 
}

.project-child-1{
    margin-right: 15px;
    padding: 1rem;
    font-size: larger;
}

.project-child-img{
    flex: 1;
    padding: 1rem 1rem;
    vertical-align: middle;
    width: 50%;
    height: 50%;
}

.project-title{
    text-align: center;
    color: #555843;
}

.project-desc{
    text-align: center;
    text-justify: auto;
}

#sketch-holder {
    overflow: hidden;
  }


.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.social-media a {
    display: inline-block;
    margin: 0 10px;
}

.social-media img {
    width: 30px; /* Adjust the size as needed */
    height: auto;
}

.gmail {
    margin-top: 15px;
}

